attic/hotrod/testdata/xsd-parser/case003/grammar.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- 3. ATTRIBUTES, no Elements, no Text -->

  <xsd:element name="product">
    <xsd:complexType>
      <xsd:attribute name="prodid" type="xsd:positiveInteger"
        use="required" />
      <xsd:attribute name="oldid" type="xsd:positiveInteger" />
    </xsd:complexType>
  </xsd:element>

</xsd:schema>