hotrod/testdata/xsd-parser/case004/grammar.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- 4. No Attributes, ELEMENTS, no Text -->

  <!-- The <employee> tag's body can include spaces, newlines, tabs, processing 
    instructions, and CDATA with blanks, but no other text. -->

  <xsd:element name="employee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="firstname" type="xsd:string" />
        <xsd:element name="alias" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>