hotrod/testdata/xsd-parser/case008/grammar.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="foo">
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:element name="bar" type="xsd:string" minOccurs="0"
          maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>

</xsd:schema>